<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kgm13.requestfridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.kgm13.requestfridge.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=" "
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OCRActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".F1_Fridge" />
        <activity android:name=".F2_List" />
        <activity android:name=".F3_Recipe" />
        <activity android:name=".F3_Recipeview" />
        <activity android:name=".F1_DBManager" />
        <activity android:name=".F1_GridViewAdapter" />
        <activity android:name=".F1_Dialog" />
        <activity android:name=".F2_DBManager" />
        <activity android:name=".F2_Dialog" />
        <activity android:name=".F2_ListViewAdapter" />
        <activity android:name=".Item" />
        <activity android:name=".KakaoSDKAdapter" />
        <activity android:name=".Shopping" />
        <activity android:name=".TabPagerAdapter" />
        <activity android:name=".F2_listview" />
        <activity android:name=".F1_CameraList" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Login_Sign_up" />
        <activity android:name=".Dialog_share" />
        <activity android:name=".Dialog_Shareconfirm"></activity>

        <service android:name=".FirebaseMessagingReceive" />

        <receiver android:name=".AlarmReceiver"></receiver>
    </application>

    <service android:name=".FirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>
    <service android:name=".FirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service android:name=".Alarm"
        android:enable="true"/>


</manifest>